@model IEnumerable<PikAroomFB.Models.Property>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PropertyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ERFNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AvailableSpace)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileImagePath)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BedroomImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BathroomImage)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ERFNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AvailableSpace)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            
            <img src="@item.ProfileImagePath" width="100" style="border-radius:5px; border: 2px solid #bbb" /> 
        </td>      
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PropertyName }) |
            @Html.ActionLink("Details", "Details", new { id=item.PropertyName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PropertyName })
        </td>
    </tr>
}

</table>
